.socialsPage {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  max-width: 62em;
  margin: 0 auto;
}

.socialsPage a {
  color: #fff;
}

.profileImage img {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

.socialLinkSection {
  justify-content: center;
}

.linksSection {
  width: 70%;
  flex-direction: column;
  margin-top: 2rem;
}

.pageLink {
  width: 100%;
}

.pageLink a {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  width: 100%;
  background-color: rgb(28 32 93 / 24%);
  text-align: center;
  border-radius: 20px;
  line-height: 2rem;
  margin-top: 1rem;
  position: relative;
  transition: all .3s ease-in-out;
  border: 1px solid #31346C;
  text-shadow: 0px 2px 2px grey;
  font-weight: 700;
}

.pageLink a:hover {
  background-color: rgb(28 32 93 / 94%);
}
